

.doc .container {
  max-width: 840px;
}
.doc  p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  line-height: 1.8rem
}

.doc .dash-graph {
  padding-bottom: 1.5rem;
}

a.report-item {
 text-decoration: none;
 padding: 8px;
 color: #0A0A0A;
}

a.report-item:hover {
  background-color: #F4F4F4
}

._dash_loading {
  height: 50vh;
  width: 100%;

}